Just added or selected "<%= @story.title %>"
<br>
List of all stories associated with <strong><%= @user.email %></strong>!
<br>
Select a story to edit.

<% @user_stories.each do |i| %>

<ul>
  <a href="/users/<%= @user.id %>/stories/<%= @story.id %>/edit"><li> <%= i.title %> </li></a>
</ul>

<% end %>
<hr>
Create another Story:
<br><br>
<form action="/users/<%= @user.id %>/stories/new">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="submit" value="Create Story">
</form>
<hr>
Select a Story to Delete:

<form action="/users/<%= @user.id %>/stories/story_id" method="post">
  <input type="hidden" name="_method" value="delete">
  <select name="story_id">
    <option selected></option>
    <% @user_stories.each do |i| %>
    <option value="<%= i.id %>"><%= i.title %></option>
    <% end %>
  </select>

  <input type="submit" value="Delete Story">
</form>
